
body {
    min-height: 100vh;

    background: url('../Images/Miscellaneous/Background_Foggy.png') no-repeat center center fixed;
    background-size: cover;

    padding: var(--space-xl);

    color: var(--color-text-primary);
}

.pageContainer {
    width: 100%;
    max-width: 900px;

    display: flex;
    flex-direction: column;

    gap: var(--space-xl);
    margin: 0 auto;
}

.hidden {
    display: none !important;
}