
body {
    min-height: 100vh;

    background: url('../../Images/Miscellaneous/Background_DarkForest.png') no-repeat center center fixed;
    background-size: cover;

    padding: var(--space-xl);

    color: var(--color-text-primary);
}

.hidden {
    display: none !important;
}