:root {
    /* SPACING */

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 16px;
    --space-xl: 20px;
    --space-2xl: 24px;
    --space-3xl: 32px;
    --space-4xl: 48px;

    /* TYPOGRAPHY SIZES */

    --text-sm: .875rem;     /* 14px */
    --text-md: 1rem;        /* 16px */
    --text-lg: 1.25rem;     /* 20px */
    --text-xl: 1.5rem;      /* 24px */
    --text-2xl: 1.75rem;    /* 28px */
    --text-3xl: 2rem;       /* 32px */
    --text-4xl: 2.5rem;     /* 40px */
    --text-5xl: 3rem;       /* 48px */

    /* RADIUS */

    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 14px;

    /* COLOR PALETTE */

    --white: #fff;
    --white-medium: #f4f4f4;

    --gray-medium: #666;
    --gray-dark: #333;
    --gray-darkest: #222;

    --black: #000;

    --green-light: #2ecc71;
    --green-medium: #4caf50;
    --green-dark: #45a049;

    --red-lightest: #ff6b6b;
    --red-light: #e74c3c;
    --red-medium: #c0392b;

    --purple-medium: #a018c5;
    --purple-dark: #5e2a6c;

    /* OPACITY COLOR PALETTE */

    --black-opacity-lowest: rgb(0 0 0 / 20%);
    --black-opacity-low: rgb(0 0 0 / 40%);
    --black-opacity-medium: rgb(0 0 0 / 55%);
    --black-opacity-high: rgb(0 0 0 / 75%);
    --black-opacity-highest: rgb(0 0 0 / 95%);

    --gray-opacity-medium: rgb(34 34 34 / 50%);
    --gray-opacity-high: rgb(34 34 34 / 80%);

    --green-opacity-medium: rgb(76 175 80 / 50%);
    --green-opacity-high: rgb(69 160 73 / 80%);
    --purple-opacity-high: rgb(160 24 197 / 80%);
    --purple-dark-opacity-high: rgb(94 42 108 / 80%);

    /* SEMANTIC */

    --color-text-primary: var(--white);
    --color-text-secondary: var(--white-medium);
    --color-text-gray-darkest: var(--gray-darkest);
    --color-text-danger-light: var(--red-lightest);

    --color-surface-gray-darkest: var(--gray-darkest);
    --color-surface-gray-translucent: var(--gray-opacity-medium);
    --color-surface-gray-translucent-high: var(--gray-opacity-high);
    --color-surface-black-translucent-low: var(--black-opacity-low);
    --color-surface-black-translucent-highest: var(--black-opacity-highest);
    --color-surface-green-primary: var(--green-medium);

    --color-border-gray-medium: var(--gray-medium);
    --color-border-gray-dark: var(--gray-dark);
    --color-border-primary-light: var(--green-light);
    --color-border-primary: var(--green-medium);
    --color-border-alternate: var(--purple-dark);
    --color-border-danger: var(--red-medium);

    --color-button-primary: var(--green-medium);
    --color-button-primary-hover: var(--green-dark);
    --color-button-danger: var(--red-medium);
    --color-button-danger-hover: var(--red-light);
    --color-button-alternate-primary: var(--purple-dark);
    --color-button-alternate-primary-hover: var(--purple-medium);

    --color-checkbox-checked: var(--green-light);

    /* SHADOWS */

    --shadow-sm-heavy: 2px 2px 8px var(--black);
    --shadow-md-light: 0 4px 10px var(--black-opacity-low);
    --shadow-md-heavy: 0 0px 12px var(--black-opacity-high);

    --shadow-glow-primary: 0px 0px 8px var(--green-opacity-medium);
    --shadow-glow-primary-high: 2px 2px 10px var(--green-opacity-high);
    --shadow-glow-secondary: 0px 0px 10px var(--purple-opacity-high);
    --shadow-glow-secondary-dark: 0px 0px 12px var(--purple-dark-opacity-high);
    --shadow-glow-lg-secondary-heavy: 0px 0px 20px var(--purple-dark-opacity-high);
    --shadow-glow-danger: 0px 0px 12px var(--red-light);
}