body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

h1 {
    font-size: var(--text-5xl);
    letter-spacing: var(--space-xs);
}

button[name="alternate"] {
    padding: var(--space-lg) var(--space-3xl);
    font-weight: normal;
    font-size: var(--text-lg);
}

/* ROLE SELECTION DISPLAY */

#roleContainer {
    height: 100%;
    align-content: center;
}

#roleTitle {
    display: flex;
    justify-content: center;
}

.roleSelection {
    display: flex;
    gap: var(--space-xl);
    margin-bottom: var(--space-4xl);
}

/* MODE SELECTION DISPLAY */

#modeTitle {
    display: flex;
    justify-content: center;
}

.streakButton {
    width: 120px;
    height: 120px;

    box-shadow: var(--shadow-md-heavy);

    border: none;

    transform: rotate(45deg);
    overflow: hidden;

    transition: transform 0.3s, box-shadow 0.3s;
}

.streakButton img {
    width: 140%;
    height: 140%;
    transform: rotate(-45deg) translateY(-20%);
}

.streakButton:hover {
    transform: rotate(45deg) scale(1.1);
    box-shadow: var(--shadow-glow-lg-secondary-dark);
}

/* SURVIVOR MODES DISPLAY */

.perkGrid {
    margin-top: 150px;
}

.row {
    display: flex;
}

.row.center {
    justify-content: center;
    margin: -20px 0;
}

.row.spread {
    justify-content: space-between;
    width: 340px;
    margin: var(--space-md) 0;
}

/* KILLER MODE DISPLAY */

#killerMode {
    transform: scale(2);
}