.card {
    display: flex;
    flex-direction: column;

    padding: var(--space-2xl);
    gap: var(--space-lg);

    background-color: var(--color-surface-gray-translucent);
    
    border: 1px solid var(--color-border-gray-medium);
    border-radius: var(--radius-lg);

    box-shadow: var(--shadow-md-light);
    backdrop-filter: blur(4px);
}