table {
    width: 100%;
    margin-top: var(--space-3xl);

    background: var(--color-surface-gray-darkest);

    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: var(--space-sm);
    border: 1px solid var(--color-border-gray-dark);
}

th {
    background: var(--color-border-gray-dark);
    border: 1px solid var(--color-border-gray-medium);
}

/* MATCH ID */

.matchNumberCell {
    position: relative;
}

.matchNumber {
    transition: opacity 0.15s ease;
}

.matchHoverActions {
    display: flex;
    position: absolute;

    top: 50%;
    right: var(--space-sm);
    gap: var(--space-xs);

    transform: translateY(-50%);
    opacity: 0;

    pointer-events: none;
    transition: opacity 0.15s ease;
}

.deleteMatchHoverBtn,
.editMatchHoverBtn {
    position: absolute;
    inset: 50% auto auto 50%;

    background-color: transparent;

    transform: translate(-50%, -50%);
    opacity: 0;

    border: none;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 0.15s ease;
}

.matchNumberCell:hover .matchNumber {
    opacity: 0;
}

.matchNumberCell:hover .matchHoverActions {
    opacity: 1;
    pointer-events: auto;
}